@import "tailwindcss";

@font-face {
  font-family: "ZT-Neue-Ralewe-Regular";
  src:
    local("MyFont"),
    url("/fonts/ZT Neue Ralewe/ZTNeueRalewe-Regular.otf") format("otf");
}

:root {
  --right-column-width: 33.3333333333%;
  --slide-panel-desired-width: calc(var(--right-column-width) + 16px);
  --slide-panel-width: clamp(330px, var(--slide-panel-desired-width), 560px);

  --marker-dash: "-";
  --header-height: 72px;
  --base-rounded: var(--radius-xl);
  --color-primary: white;
  --color-secondary: var(--color-slate-900);
  --color-contrast-disabled-text: var(--color-slate-500);
  --color-background-tertiary: var(--color-slate-700);
  --color-secondary-hover: var(--color-slate-700);
  --color-accent: #f96e46;
  --color-primary-text: #000000;
  --color-secondary-text: #ffffff;
  --color-tertiary-text: color-mix(
    in oklab,
    var(--color-secondary, var(--color-secondary)) 60%,
    transparent
  );
  --color-border-primary: color-mix(
    in oklab,
    var(--color-secondary, var(--color-secondary)) 20%,
    transparent
  );
  --color-border-secondary: var(--color-secondary);
}

@theme {
  --font-playfair-display: "Playfair Display Variable", "serif";
  --color-primary: var(--color-primary);
  --radius-base: var(--base-rounded);
  --color-background-tertiary: var(--color-background-tertiary);
  --color-secondary: var(--color-secondary);
  --color-secondary-hover: var(--color-secondary-hover);
  --color-accent: var(--color-accent);
  --color-primary-text: var(--color-primary-text);
  --color-secondary-text: var(--color-secondary-text);
  --color-tertiary-text: var(--color-tertiary-text);
  --color-border-primary: var(--color-border-primary);
  --color-border-secondary: var(--color-border-secondary);
  --color-contrast-disabled-text: var(--color-contrast-disabled-text);
}

.left_navigation-sticky {
  max-height: calc(100vh - var(--header-height));
  @apply overflow-auto lg:sticky self-start lg:top-(--header-height);
}

.header-dropdown-wrapper:active .header-dropdown-items-container {
  display: block;
}

.text-accent {
  color: var(--color-accent);
}

.border-0-5 {
  border-style: var(--tw-border-style);
  border-width: 0.5px;
}

.border-1 {
  border-style: var(--tw-border-style);
  border-width: 1px;
}

html {
  font-family: "ZT-Neue-Ralewe-Regular", sans-serif;
  color: var(--color-primary-text);
}

.container {
  @apply w-full px-4 sm:px-8 md:px-10 lg:px-16 max-w-[1300px];
  /*    */
}

.base-colors-transition {
  @apply transition-colors duration-150 ease-in-out;
}

.underline-on-hover {
  @apply relative after:ease-out after:bg-accent after:absolute after:h-0.5 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-250;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  @apply w-3 h-1;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  @apply bg-primary;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded-lg border-2 border-primary;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent;
}

.text-heading {
  @apply text-accent font-bold;
}

.list {
  li {
    padding-left: 1.2em;
  }

  li::before {
    margin: 0.6em 0 0 -1em;
    content: "";
    display: block;
    float: left;
    width: 0.35em;
    height: 0.35em;
    background-color: var(--color-accent);
    border-radius: 50%;
  }
}

article.text,
article.text-left-border {
  @apply text-justify lg:pl-4 flex flex-col gap-2;

  ul {
    @apply my-2;
  }
}

.text-left-border {
  @apply lg:border-l-secondary/8 lg:border-l-1 lg:pl-4;
}

.hover-accent:hover {
  @apply text-accent border-accent;
}

.border-underline-1 {
  @apply border-b-accent border-b-1;
}

.border-underline-2 {
  @apply border-b-accent border-b-2;
}

.base-text-section {
  @apply text-justify indent-0;

  ul {
    margin: calc(var(--spacing, 0.25rem) * 2) 0;
  }

  p {
    margin: calc(var(--spacing, 0.25rem) * 2) 0;
  }
}
