@reference "@styles/global.css";

.editorial-board-content {
  th {
    @apply font-normal text-start align-top;
  }

  th,
  td {
    @apply px-6 py-2;
  }

  th,
  td:first-child {
    border-right: 1px solid #000;
  }
}
